{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    {% for collection in view_model.items %}
    <div class="col-md">
        <h4>{{collection}}</h4>
      </div>
    {% endfor %}
      
    </div>
        <form action ='/add' method='POST'>
          <fieldset>
            <legend>Add Task</legend>
            <input type="text" name='title' required> 
            </br>
            </br>
            <legend>Add Description</legend>
            <textarea rows="5" cols="25" name='description' required></textarea>
            </br>
            </br>
            <legend>Add Task Status</legend>
            <input type="radio" value="To Do" name="listName" > To Do</br>
            <input type="radio" value="Doing" name="listName"> Doing</br>
            <input type="radio" value="Done" name="listName"> Done</br>
            </br>
            </br>
            <button>Add Task</button>
          </fieldset>
        </form>
 
    </div>
  </div>
{% endblock %}