{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        <!-- List the todo items here -->
        {% for task in taskList %}
        <li>{{task.listName}} : {{task.idShort}} : {{task.name}} : {{task.description}} : {{task.id}}</li>
        {% endfor %}
      </ul>

      <form action ='/add' method='POST'>
      
      <fieldset>
        <legend>Add Task</legend>
        <input type="text" name='newTask' required>
        <button>Add Task</button>
      </fieldset>
      
      </form>

    </div>
  </div>
{% endblock %}