{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md">
      <h2>{{taskName}}</h2>
      <p>{{taskDescription}}</p>
      <br>
      <p>Status: {{taskListName}}</p>
      <br>
      <a href = "{{url_for('update_Task', taskId=taskId, taskStatus='Doing')}}">Set task status to "Doing"</a>
      <br>
      <a href = "{{url_for('complete_Task', taskId=taskId, taskStatus='Done')}}">Complete Task</a>

  </div>
{% endblock %}