{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md">
      <h2>{{task.name}}</h2>
      <p>{{task.description}}</p>
      <br>
      <p>Status: {{task.listName}}</p>
      <br>
      <a href = "{{url_for('update_Task', taskId=taskId, taskStatus='To Do')}}">Set task status to "To-Do"</a>
      <br>
      <a href = "{{url_for('update_Task', taskId=taskId, taskStatus='Doing')}}">Set task status to "Doing"</a>
      <br>
      <a href = "{{url_for('update_Task', taskId=taskId, taskStatus='Done')}}">Complete Task</a>
    </div>
  </div>
{% endblock %}
